{{#partial "content"}}
    <div class="cover-container d-flex text-start p-6">

        <div class="d-flex w-100 p-6 mx-auto flex-column">

            <main class="col-lg-10 mx-auto p-6 py-md-5">
                <h1>About</h1>
                <p class="lead">The Forest Service is considering a proposal from a timber company to clearcut a nearby forest of Douglas Fir. Before this proposal may be approved, they must complete an environmental impact study.</p>
                <p class="lead">
                    <a href="/#herolist" class="btn btn-lg btn-danger fw-bold text-white border-white">Post a sighting</a>
                </p>
            </main>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}